body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  
    background: linear-gradient(to top, rgb(255, 255, 255), rgb(252, 252, 252));


}

@media(max-width:400px) {
    .container {
        width: 100%;
        margin-top: 10%;
        
    }
}

@media (max-width: 600px) {

    .container {
        width: 100%;
    }
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
}
h3{
    margin-left: 5vw;
    border-left: 4px solid #9d0c0cff; 
    padding-left: 10px;
}
p{
    padding-left: 5vw; padding-right:5vw;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
}
